<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>psredis</name>
  <display_name>PS Redis</display_name>
  <version>1.0.0</version>
  <author>DolceCX</author>
  <tab>administration</tab>
  <need_instance>0</need_instance>
  <description>Integracja Redis dla PrestaShop (cache, warmup, status).</description>

  <ps_versions_compliancy>
    <version from="9.0.0" to="9.99.99"/>
  </ps_versions_compliancy>

  <confirmUninstall>Are you sure you want to uninstall PS Redis?</confirmUninstall>

  <assets>
    <!-- jeśli masz logo, wpisz tutaj nazwę pliku np. logo.png -->
  </assets>
</module>
